<div class='sidebar col-xs-3 col-md-2'>
  <ul class='nav nav-sidebar'>
    <%= nav_link 'Dashboard', admin_path, 'home' %>
    <%= nav_link 'Courses', admin_areas_path, 'filing' %>
    <%# nav_link 'Pages', admin_pages_path , 'document-text'%>
    <%# nav_link 'Groups', admin_groups_path, 'earth' %>
    <%= nav_link 'Themes', admin_themes_path, 'android-color-palette' %>
    <%= nav_link 'SKUs', admin_skus_path, 'ios-barcode-outline' %>
    <%= nav_link 'Promos', admin_promos_path, 'arrow-graph-up-right' %>
    <%= nav_link 'Users', admin_users_path, 'happy-outline' %>
  </ul>
</div>