<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || ENV['SITE_NAME'] %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'themer', media: 'all' %>
    <style>
      <%= @global.style.html_safe if @global %>
    </style>
    <style>
      <%= @area.style.html_safe if @area %>
    </style>
    <%= javascript_include_tag 'themer' %>
    <script type="text/javascript">
      <%= @global.behavior.html_safe if @global %>
    </script>
    <script type="text/javascript">
      <%= @area.behavior.html_safe if @area %>
    </script>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey('<%= ENV['STRIPE_PUBLIC_KEY'] %>');
    </script>
		<meta name="viewport" content="width=device-width, initial-scale=1">

    <%= render 'favicon' %>
  </head>
  <body>
    <%= render 'shared/flash' %>
    <%= yield %>
  </body>
</html>
